
body{background: pink;
}

h1 {font-size: 3em;
  color: blue;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}
.completed{font-size: 12px;
}

#tasks .completed {
background: #ccc;
}